body {
	margin: 0 auto;
	background-color: grey;
	font-family: 'Quicksand', sans-serif;
}

.navbar-default {
	margin: 0 auto;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

nav li:hover {
	background-color: rgba(18, 167, 182, 0.4);
}

#brand {
	height: 1.8em;
}

#social {
	height: 1.5em;
}

#home {
    background: url('http://i.imgur.com/u5Tun0e.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

#logo {
	height: 5em;
}

#box {
  background-color: rgba(245, 245, 245, 0.4);
}

#inquire {
  margin: 0 auto;
}

#form {
  padding-right: -10em;
  margin-right: -10em
}

#text {
	font-size: 1em;
}

#aboutus {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

h1 {
  padding: 0.5em;
}

p {
  padding: 0 1em 1em 1em;
}

#quote1 {
  font-style: italic;
  padding: 1em 1em 1em 1em;
}

#map { 
  position: absolute;
  height: 650px;
  width: 650px;
}

#team {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

#practiceareas {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1401px;
}

#page {
    background-color: rgba(245, 245, 245, 0.4);
    width: 100%;
    height: 100%;
}

#end li {
  text-align: center;
  display: inline-block;
  margin: 0 1em 0 1em;
}

#end li a:hover {
  text-decoration: none;
  background-color: none !important;
}

footer .row:first-child { 
    text-align: center;
    border-bottom: 1px solid #222222; 
    border-bottom: 1px solid rgba(255,255,255,.1); 
    margin-bottom: .4em; 
    padding-bottom: 1em; 
}
